* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0.67);
    transform-origin: top center;
    padding-bottom: 80px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;   
}

.logo {
    width: 400px;
    height: auto;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 26px;
}

section div {
    display: flex;            
    flex-direction: column;   
    align-items: center;       
    gap: 16px;                 
}

input {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    height: 74px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    transition: all 0.3s ease; 
}


.input-min {
    margin-right: 0px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500px;
    font-size: 20px;
}

button {
    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    width: 342px;
    height: 74px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 768px) {
    section {
        transform: scale(1);
        transform-origin: top center;
        padding-bottom: 40px;
    }

    body {
        padding-bottom: 0;
    }

    .logo {
        width: 250px;
    }

    h1 {
        font-size: 42px;
        line-height: 50px;
        margin-top: 16px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    input {
        width: 280px;
        height: 60px;
        font-size: 28px;
    }

    button {
        width: 280px;
        height: 60px;
        font-size: 28px;
        margin-top: 60px;
    }
}

.video-fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

section {
    position: relative;
    z-index: 1;
}

